<ng-container *ngIf="isSendError">
    <div class="alert alert-danger" role="alert">
        Köszönöm a hibabejentést! A probléma megoldása folyamatban van!
      </div>
</ng-container>

<div class="card" >  
        
        
            <ng-container *ngIf="!user; else hibabejelentes">
                <div class="card-body">
                    <h5 class="card-title">Hibabejelentés</h5>
                <ng-container *ngIf="!isSendMail; else sendMail">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email cím</label>
                        <input #email type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        <div id="emailHelp" class="form-text">Írd be az email címed a hibabejelentéshez!</div>
                    </div>
                        <button (click)="sendUpLink(email.value)" class="btn btn-primary">Hibabejelentés</button>
                    
                </ng-container>
                <ng-template #sendMail>
                    <div class="alert alert-danger" role="alert">
                        Kattints az emailben kapott linkre!
                      </div>
                </ng-template>
                </div>
            </ng-container>
            <ng-template #hibabejelentes>

                <div class="card-body">
                    <h5 class="card-title">Hibabejelentés</h5>
                    <div class="form-floating">
                        <textarea #hibaleiras class="form-control" placeholder="Hiba részletes leírása" id="floatingTextarea2" style="height: 100px"></textarea>
                        <label for="floatingTextarea2">Hiba részletes leírása</label>
                    </div>
                    <button (click)="hibaBejent(hibaleiras.value)" class="btn btn-primary">Hibabejelentés</button>
                </div>              
            </ng-template>
    </div>
